.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: rgb(55, 55, 172); 
}

.sidenav .mat-toolbar {
  background: white;
  box-shadow: none;
}

.mat-sidenav-content{
  background: white;
}

.mat-toolbar {
  background: white;
  color: blue;
  height: 75px;
  box-shadow: 3px 3px 3px #bdb9b9af;
}
.mat-toolbar.mat-primary {
  background: white;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-icon{
  margin-right: 5px;
}
