<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      
        <img src="/../assets/images/IRSI.png"  style=" max-width: 80%; margin-right: auto; margin-left: auto; ">
      
    </mat-toolbar>
    <mat-nav-list >
      <p style="text-align: center;">Contenido</p>
      
      <a mat-list-item href="../componenetes/soc/soc.component.html"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> Inicio</a>
      <a mat-list-item href="#"><mat-icon>bookmark</mat-icon> SOC</a>
      <a mat-list-item href="#"><mat-icon>bookmark</mat-icon> Respuesta a incidentes</a>
      <a mat-list-item href="#"><mat-icon>bookmark</mat-icon> Threat Hunting</a>
      <a mat-list-item href="#"><mat-icon>bookmark</mat-icon> Forence</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <div style="display:flex; justify-content: space-between;">
        <div >
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <span>ProyectoGraduacionSOC</span>
        </div>
        <div style="color: gray; display: flex; justify-content: space-evenly; max-width: 15%;" >
          <img src="/../assets/images/avatarMain.png"  style=" max-width: 15%; ">
          <span>Jose Quixchan</span>

          <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        </div>
      </div>
      
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-dashboard></app-dashboard>

  </mat-sidenav-content>
</mat-sidenav-container>
